<ion-content class="cauz-panel home blue" padding="true" scroll="false">
  <div><!-- ng-hide="complete"> -->
  	<h1>This is Cauz Colony.<span>A place for doing good.</span></h1>
    <p class="large">We don't want your money.<br>We just want a few minutes.</p>
  	<p class="blue large space-top">Easy steps to earn thousands for your favorite charity:</p>
    <hr>
    <ul>
      <li><strong>1</strong><br>Sign up<br>&nbsp;</li>
      <li><strong>2</strong><br>Complete<br>project</li>
      <li><strong>3</strong><br>Help your<br>cauz</li>
    </ul>
    <button ng-click="navigate('login')">
      <span>Get Started</span>
    </button>
    <p class="align-bottom">BTW, we will <strong>NEVER, EVER</strong> share<br>your email address.</p>
  </div>
  <!-- <div class="centered" ng-show="complete">
  	<img src="assets/images/type-lockup@2x.png" class="lockup">
  	<p>Look for alerts on this app<br>for results on your project<br>and thanks again for being<br>a hero to the Cauz.</p>
  	<img src="assets/images/medal@2x.png" class="medal">
  </div> -->
</ion-content>
