<ion-view title="Cauz Colony" class="project">
  <ion-content padding="true">
    <img ng-src="http://placehold.it/300x150&text=Cauz+Colony+Logo">
    <p>Donec metus magna, vestibulum ac purus eu, lacinia efficitur elit. Quisque rutrum hendrerit dignissim. Sed pretium odio urna, nec varius ex viverra in.</p>
    <button class="button button-block button-positive" ng-click="openModal('menu.html')" ng-show="loggedIn">
      Choose A Project
    </button>
    <button class="button button-block button-positive" ng-click="openModal('login.html')" ng-show="!loggedIn">
      Log In
    </button>
  </ion-content>
</ion-view>
