<p class="instructions">
  Rate this Powerbeat feature.<br><span>1</span> being not important at all.<br><span>4</span> being very important.
</p>
<hr>
<p class="question">
  {{question.text}}
</p>

<button class="button button-block button-outline button-positive" ng-repeat="option in question.options" ng-click="select($index)" ng-class="{'button-energized': answer == $index}">
  {{option}}
</button>
<button class="button button-block button-positive" ng-click="submit(answer)" ng-show="answer != null">
  Submit <i class="icon ion-chevron-right"></i>
</button>
