.button {
  &.button-round {
    border-radius: 200px;
    padding: 0;
    
    &.button-positive {
      background-color: $teal-md;
      border-style: none;
      width: 70px;
      height: 70px;
    }

    &.button-bottom {
      position: absolute;
      left: 50%;
      bottom: 20px;
      margin-left: -35px;

      &.left {
        margin-left: -90px;
      }
      &.right {
        margin-left: 20px;
      }
    }

    &.button-outline {
      border-style: 1px solid;
      &.button-gray {
        border-color: $gray-lt;
      }
      &.button-energized {
        border-color: $teal-md;
        background-color: $teal-md;
        color: white;
      }
      &.button-small {
        font-size: 35px;
        width: 55px;
        height: 55px;
        float: left;
        margin: 10px 0 0 22px;
        &.first {
          margin-left: 0;
        }

        @media only screen 
        and (min-device-width : 375px) 
        and (max-device-width : 667px) {
          width: 68px;
          height: 68px;
          margin: 0 0 0 22px;
        }
      }
      &.button-multi {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
        font-size: 24px;
        float: left;
        margin-right: 20px;
      }
    }
  }
}