.home {
  min-height: 100%;

  h1 {
    font-size: 31px;
    margin: 33px 0 0;
    line-height: 1.2;
    span {
      display: block;
      font-size: 21px;
      margin-top: -6px;
    }
    
    @media only screen and (min-device-width : 320px) {
      font-size: 27px;
      margin: 19px 0 0;
      line-height: 1.2;
      span {
        display: block;
        font-size: 18px;
        margin-top: -6px;
      }
    }


    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) {
      font-size: 37px;
      line-height: 1.3;

      span {
        display: block;
        font-size: 29px;
        margin-top: -4px;
      }
    }
  }

  p {
    margin: 13px 0 0;
    font-size: 16px;
    line-height: 1.5;
    clear: both;

    &.large {
      font-size: 20.5px;
      line-height: 1.2;

      @media only screen and (min-device-width : 320px) {
        font-size: 16px;
      }
    }
    &.blue {
      color: $teal-dk;
    }
    &.space-top {
      margin-top: 50px;
      @media only screen and (min-device-width : 320px) {
        margin-top: 20px;
      }
    }
    &.align-bottom {
      text-align: center;
      position: absolute;
      bottom: 9px;
      width: 100%;
      left: 0;
      line-height: 1.2;
    }

    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) {
      &.large {
        font-size: 22px;
        line-height: 1.2;
      }
    }
  }

  hr {
    border-top: 2px solid white;
    margin-top: 50px;
  }

  ul {
    margin: 0;
    li {
      float: left;
      display: block;
      width: 30%;
      border-radius: 50px;
      background: white;
      color: $teal-dk;
      text-align: center;
      padding: 11px;
      margin: -50px 0 0 5%;
      strong {
        font-size: 20px;
      }
      &:first-child {
        margin: -50px 0 0;
      }

      @media only screen 
      and (min-device-width : 375px) 
      and (max-device-width : 667px) {
        width: 25%;
        margin: -50px 0 0 12.5%;
      }
      @media only screen 
      and (min-device-width : 376px) 
      and (max-device-width : 667px) {
        width: 25%;
        margin: -50px 0 0 12.5%;
        padding: 15px;
      }
    }
  }

  button {
    position: absolute;
    left: 50%;
    bottom: 50px;
    margin: 50px 0 0 -51px;
    border: none;
    color: $teal-dk;
    background: transparent url("../assets/images/rocket@2x.png") no-repeat 22px 0px;
    background-size: 55px 38px;

    @media only screen and (min-device-width : 320px) {
      bottom: 40px;
    }
    span {
      display: block;
      margin-top: 42px;
    }
  }

  .centered {
    text-align: center;
    img {
      &.lockup {
        margin: 125px auto 0px;
        width: 186px;
        height: 88px;
      }
      &.medal {
        width: 55px;
        height: 64px;
      }
    }

    p {
      text-align: left;
      width: 230px;
      margin: 30px auto;
    }
  }

  ol {
    list-style-type: decimal;
    margin: 5px 0 0 40px;
    font-size: 16px;
    line-height: 1.2;
    color: $teal-dk;

    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) {
      margin: 10px 0 0 50px;
      font-size: 22px;
    }
  }
}