.cauz-panel {
  background: white;
  h1, h2, h3, h4, h5, h6, p, a, div {
    color: #AAA;
  }
  &.blue {
    background: $teal-md;
    h1, h2, h3, h4, h5, h6, p, a, div {
      color: white;
    }
  }
  &.padding {
    padding: 70px 16px 16px;

    @media all and (orientation: landscape) {
      padding: 1px 0;
    }
  }
  
  &.step {
    h1 {
      color: $teal-md;
      font-size: 20px;
      margin: 37px 0 0;

      @media only screen 
      and (min-device-width : 375px) 
      and (max-device-width : 667px) {
        font-size: 25px;
      }
    }
  }
}