.survey {
  .item-select {
    select {
      max-width: 100%;
      width: 100%;
      direction: ltr;
    }
  }

  p {
    color: $gray-dk;
    &.instructions {
      font-size: 17px;
      margin-top: 12px;

      span {
        display: inline-block;
        border: 1px solid $gray-dk;
        border-radius: 20px;
        width: 20px;
        height: 20px;
        text-align: center;
        margin-top: 3px;
      }

      @media only screen 
      and (min-device-width : 375px) 
      and (max-device-width : 667px) {
        font-size: 20px;
        margin-top: 14px;

        span {
          width: 24px;
          height: 24px;
          margin-top: 6px;
          padding-top: 2px;
        }
      }
    }
    &.question {
      span {
        display: inline-block;
        margin-bottom: 10px;
      }
      font-size: 17px;
      margin-top: 12px;

      @media only screen 
      and (min-device-width : 375px) 
      and (max-device-width : 667px) {
        font-size: 22px;
        line-height: 1.1;
        margin-top: 16px;
      }
    }

  }

  hr {
    border-top: 1px solid $gray-lt;
    margin: 15px 0 0 -17px;
    width: 98%;
  }

  .btn-group {
    position: absolute;
    bottom: 100px;

    @media only screen 
    and (min-device-width : 375px) 
    and (max-device-width : 667px) {
      bottom: 140px;
    }
  }
}