@font-face {
  font-family: AvenirNext;
  src: url('../assets/fonts/AvenirNext-Regular.ttf');
}



body, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, button, input, select, textarea {
  font-family: AvenirNext;
  font-weight: regular;
}

h1 {
  font-size: 20px;
  margin-bottom: 3px;
}

h2 {

}

h3 {
  font-size: 20px;
}